
@{
    ViewBag.Title = "AboutContactUs";
}

<h2>About Us</h2>
<div>
    <p style="font-size: 17px;">
        Video Game Shop Is a college project that imitates an online whishlist. In less scientific words, we are a kind of Amazon that
        only show you the sellers of those games. We definitely plan to develop the company (on the MVC side of the meaning).
    </p>

    <p style="font-size: 17px;">
        The company/project was created on October 20th, 2018.
        It is presently located at the creator’s house, which we will keep secret in order to keep his privacy.
    </p>
    <br>
    <p style="font-size: 18px;">
        The team is composed of 4 people:
        <ul>
            <li class="text-primary">The CEO: <strong>Bogdan Rusu</strong></li>
            <li class="text-success">The Web Designer: <strong>Me</strong> </li>
            <li class="text-warning">The Web Developer: <strong>Myself</strong></li>
            <li class="text-danger">The Database Administrator: <strong>I</strong></li>
        </ul>
    </p>
    <img src="~/Images/team.png" alt="Bog's Team!" />
    <br>
    <p class="text-center text-warning" style="font-size: 25px;">Our goal is, with the help of this project, to pass the MVC class with a 90%.</p>
    <br>
    <p style="font-size: 20px; color: #000000;" class="text-center">How does visiting our website going to help us?</p>

    <p style="font-size: 18px;" class="text-center">
        Well, like a lot of businesses, views motivates us to improve this
        project and make it the best we can in order to offer you, the customer, an amazing
        online search experience.
    </p>
    <br>
    <p class="text-center" style="font-size: 20px; color: #48a70b;">
        We strongly hope that you enjoy the website and your online searching session.
        Feel free to contact us at the email located below.
    </p>
    <p class="text-center" style="font-size: 20px;">Happy Visit!</p>
</div>

<br/>
<h2>Contact Us</h2>
<div class="text-center" style="padding: 15px;">
    <h3 class="text-warning">We are here for you</h3>
    <h2 class="text-danger">
        Feel free to contact us for any reason. That it is a complaint, information about a delivery or a simple
        questions, we will always try to answer you as quickly as possible.
    </h2>
    <br>
    <p style="font-size: 20px; color:darkblue;">Email: <a href="mailto:wks@hotail.com" class="text-warning">wks@hotmail.com</a></p>
    <p>
        <spam style="font-size: 20px; color:darkgreen">Phone Number: 123-456-0987</spam>
        <br>
        <span class="underlinedstuff">Phone Availabilities:</span>
        <br>
        <span class="text-success">
            Monday to Friday: 8:00 to 22:00
            <br>Weekend: 8:00 to 20:00
        </span>
    </p>


    <p>
        <spam style="font-size: 20px; color:darkgreen">
            Office Location: 123 Nowhere street Created city Quebec Canada
        </spam><br>
        <spam class="underlinedstuff">Office Availabilities:</spam><br>
        <spam class="text-success">
            Monday to Friday: 8:00 to 16:00 <br>
            Weekend: 8:00 to 14:00
        </spam>
    </p>
    <br>
    <p style="color: #e7e100; font-size: 25px;">Thank you for searching with us!</p>

</div>