
@{
    ViewBag.Title = "LoginandRegister";
}

<h2>Login Or Register</h2>

<div style="display: flex; margin:auto;">

    <div style="flex:1;">
        @Html.Partial("_Login")
    </div>

    <div style="flex:1;">
        @Html.Partial("_Register")
    </div>
    </div>
